:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent: #2196f3;
  --white-text-color: #ffffff;
  --button-background-color: #f5f4fa;
}

body {
  background-color: #e5e5e5;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
}

a {
  text-decoration-line: none;
}

.list {
  list-style: none;
}

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый текст #FFFFFF */
/* футер адрес и телефон rgba(255, 255, 255, 0.6) */
/* копирайт rgba(255, 255, 255, 0.4) */
/* акцент #2196F3 */
/* body background #e5e5e5 */
/* header background rgba(0, 0, 0, 0.12) */

/* Logo */
.logo {
  color: var(--accent);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.logo-two {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
.main-logo:focus {
  color: var(--accent);
}

/* Site nav */
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}

.contact-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent);
}

.site-nav .link.current {
  color: var(--accent);
}

/* Section */

.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.explanation {
  color: var(--white-text-color);
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
}

/* Footer */
.footer-logo {
  color: var(--accent);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.footer-logo-two {
  color: var(--white-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
.footer-logo:focus {
  color: var(--accent);
}

footer {
  background-color: #2f303a;
}

.list .address a {
  color: var(--white-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.contact a {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer-text {
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  text-transform: uppercase;
}
.copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* Button */
.button {
  color: var(--primary-text-color);
  background-color: var(--button-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.button-primary {
  color: var(--primary-text-color);
  background-color: var(--button-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--accent);
}

.button-secondary {
  color: var(--white-text-color);
  background-color: var(--accent);
  font-weight: 900;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button-secondary:hover,
.button-secondary:focus {
  color: var(--primary-text-color);
}
