body {
  background-color: #ffffff;
  color: #212121;
}

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый текст #FFFFFF */
/* футер адрес и телефон rgba(255, 255, 255, 0.6) */
/* подписка девелопед rgba(255, 255, 255, 0.4) */
/* акцент #2196F3 */
/* body background #FFFFFF */
/* header background rgba(0, 0, 0, 0.12) */
/* наша команда #F5F4FA */
/* клиенты #E5E5E5 */

.logo-accent {
  color: #2196f3;
}
